table{
    width:1250px;
    position: absolute;
    left: 250px;
    top:150px;
    margin-bottom: 50px;
}
table th{
    height: 30px;
}
table tr{
    height: 30px;

}
table tr img{
    margin-left: 15px;
}
.UsersImg{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}