*{
    padding: 0;
    margin: 0;
}

.memory{
    width: 100%;
    height: 670px;
    background-image: url(./imgs/jinianri.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.title{
    width: 100%;
    height: 50px;
    /* border:1px solid red; */
    margin-top:150px;
}
.title>p{
    color: white;
    font-size: 20px;
    font-weight: 800px;
    text-align: center;
}
.title>p>span{
    color: white;
    font-size: 28px;
    font-weight: 800px;
    text-align: center;
}
.mind1{
    margin: 180px auto;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    opacity: 0.6;
}
.mind1>img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
}
.mind2{
    margin: -150px auto;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    opacity: 0.6;
}
.mind2>img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

#back{
    width: 30px;
    height: 30px;
}
#add{
    width: 25px;
    height: 25px;
}
#time{
    margin-top: 20px;
    font-size:18px;
}