.app-title-2 {
    margin-top: 7vh;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
}

.reg-input {
    font-family: Georgia, Serif;
    width: 70vw;
    height: 15vw;
    margin: 15px 0;
    font-size: 20px;
    color: whitesmoke;
    border: 1px solid #FFAEB9;
    border-radius: 8vw;
    background-color: rgba(245, 91, 114, .8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    text-align: center;
}

.reg-input::placeholder {
    font-size: 20px;
    color: whitesmoke;
}

.reg-input:-ms-input-placeholder {
    font-size: 20px;
    color: whitesmoke;
}

.reg-btn {
    font-family: Georgia, Serif;
    position: absolute;
    bottom: 12vh;
    left: 15vw;
    width: 70vw;
    height: 15vw;
    border-radius: 6vw;
    font-size: 30px;
    color: #ee7c8c;
    border: 1px;
}