#jinian-submit{
    margin-top: 50px;
    margin-left: 110px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #769FFB;
    text-align: center;
    border:none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

#editor-one{
    width: 30px;
    height: 30px;
    margin-top: 7px;
    
    margin-left: 15px;
    display: inline-block;
}
#editor{
    position: relative;
    top: -8px;
    left: 15px;
    display: inline-block;
}
#editor>input{
    width: 250px;
    height: 25px;
    border: none;
}

#time-one{
    width: 30px;
    height: 30px;
}
.am-list-extra{
    position: absolute;
    left: 45px;
}
