.text{
    width: 300px;
    height: 350px;
    background-color: white;
}
#nav{
    position: absolute;
    top: 25px;
    left: 310px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border:1px solid white;
    color: white;
    line-height: 20px;
    text-align: center;
    background-color: #e5a3a3;
}
#te{
    width: 250px;
    height: 290px;
    margin-top: 25px;
    margin-left: 22px;
    border:3px solid #ccc;
}
#te-one{
    margin-top:15px;
    text-align: center;
    font-size: 30px;
}
#te-two{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #bbb;  
}
#te-three{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;   
}
#te-four{
    margin-top: 10px;
    text-align: center;
    
}
#tag{
    width: 100px;
    height:20px;
    position: absolute;
    top:-10px;
    left:100px;
    text-align: center;
    color: white;
    background-color: #e5a3a3;
}

#logo{
    width: 20px;
    height:20px;
    position: absolute;
    top:260px;
    left:120px;
}
#logo>img{
    width: 65px;
    height:65px;
}
