
.daka{
   width: 100%;
   background-image: url(../imgs/drink.jpg);
   background-size: 100vw;
   background-repeat: no-repeat;
   /* height: 670px; */

}
.replace{
    width: 100%;
    height: 53vh;
    margin: 0 auto;
    
}
.lianxu{
    width: 100%;
    height: 30px;
    color: #F88180;
    margin-top: 200px;
   
}
.dk{
    width: 100px;
    height: 30px;
    color:white;
    background-color: #F88180;
    margin-top: 120px;
    margin-left: 36%;
    border:0px;
    border-radius: 3px;
}
.continue{
    width: 25%;
    height: 30px;
    margin-top: 30%;
    margin-left: 37.5%;
    font-size: 20px;
    color:white;
}
.qingdan{
    width: 60%;
    height: 375px;
    border: 1px solid gray;
    margin-top: 10%;
    margin-left: 20%;
    text-align: center;
}
.img{
    width: 100%;
    height: 60%;
    border-bottom: 1px solid gray
}
.record{
    color: gray;
    margin-top: 10px;
}
.task{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 80%;
    position: relative;
    margin-top: -25px;
    background-color: #F88180;
}
.thing{
    font-size: 25px;
    margin-top: 5%;
}
.describe{
    font-size: 15px;
    margin-top: 5%;
}
.little-time{
    margin-top: 5%;
    font-size: 10px;
    color: #ccc;
}
.hidden{
    text-align: center;
    width: 180px;
    height: 50px;
    margin: 0 auto;
    background-color: #F88180;
    color: white;
    font-size: 25px;
    line-height:50px;
    margin-top: 50px;
}
.camera{
    width: 100%;
    height: 350px;
    border-radius: 5px;
    /* background-color:#8f8f8850; */
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.picker{
    width: 350%;
    background-size: 100% 100%;
    margin-left: 20px;
}
.confirm{
    width: 40%;
    height: 35px;
    background-color: #F88180;
    margin: 0 auto;
    text-align: center;
    color:white;
    line-height:35px;
    border-radius: 5px;
    margin-top: 10px;
}
.upload{
    font-size: 15px;
}
.one{
    font-size: 20px;
    font-weight: 500;
}
.two{
    font-size: 15px;
    margin-left: 25px;
    margin-top: 15px;
}
.three{
    font-size: 15px;
    margin-left: 25px;
    margin-top: 35px;
}
.four{
    font-size: 15px;
    margin-left: 25px;
    margin-top: 15px;
}
.five{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
    
}
.rili{
    position:absolute;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
}
.beijing{
    height: 1000px;
    background-image: url(../imgs/bgimg.jpg);
    background-repeat: no-repeat;
}

.dibu{
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: white;
    bottom: 0;
}
.duihua{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    float: right;
}
.touxiang{
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 30px;
    float: right;
}
.talk{
    border:1px solid red;
    height: 35px;
    background-color: rgb(141,450,105);
    float: right;
}
.settime{
    width: 100px;
    height: 100px;
    background-color: red;
}
.success{
    position: fixed;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 200px;
    background-color:white;
}